extends layout

block title
  title JacksonScript.org - Edit Message

block scripts
  script(src=asset('/client/edit.js'))

block navigation
  ul.nav.pull-right
    li.text Edit Message

block content
  .row
    .col-md-1.profile-image.hidden-xs
      a(href=user.profile)
        img(src=user.avatar)
    .col-md-11
      .comment-wrapper
        .comment-header
          = user.name || user.email.replace(/@/g, ' at ')
          ul.buttons
            li
              button#preview.link
                i.icon-envelope-alt
                span.hidden-xs  Preview
        .comment-body
          form(method='post')
            #preview-display.formatted-view(style='display: none;')
            #edited-display
              textarea#edited.form-control(name='edited')= message.edited
            input#save.btn.btn-default(type='submit', value='Save')
  .row
    .col-md-1.profile-image.hidden-xs
      a(href=message.from.profile)
        img(src=message.from.avatar)
    .col-md-11
      .comment-wrapper
        .comment-header
          = message.from.name || message.from.email.replace(/@/g, ' at ')
          ul.buttons
            li
              a.link(href=message.url)
                i.icon-share-alt
                span.hidden-xs  Go to Source
        .comment-body
          .source-view
            pre= message.original
