extends layout

block head
  link(href='https://yandex.st/highlightjs/7.3/styles/default.min.css', rel='stylesheet')

block scripts
  script(src=asset('/client/edit.js'))

block navigation
  ul.nav.pull-right
    li.disabled
      a(href='javascript:void') Edit Message

block content
  .row
    .span1.profile-image.hidden-phone
      a(href=message.from.profile)
        img(src=message.from.avatar)
    .span11
      .comment-wrapper
        .comment-header
          = message.from.name || message.from.email.replace(/@/g, ' at ')
          ul.buttons
            li
              a.link(href=message.url)
                i.icon-share-alt
                span.hidden-phone  Go to Source
        .comment-body
          .source-view
            pre= message.original
  .row
    .span1.profile-image.hidden-phone
      a(href=user.profile)
        img(src=user.avatar)
    .span11
      .comment-wrapper
        .comment-header
          = user.name || user.email.replace(/@/g, ' at ')
          ul.buttons
            li
              button#preview.link
                i.icon-envelope-alt
                span.hidden-phone  Preview
        .comment-body
          #preview-display.formatted-view(style='display: none;')
          #edited-display
            form(method='post')
              textarea#edited(name='edited')
                = message.edited
              input#save.btn(type='submit', value='Save') Save
