extends layout

block title
  title JacksonScript.org - Message History

block scripts
  script(src=asset('/client/edit.js'))

block navigation
  ul.nav.pull-right
    li.text Message History

block content
  .row
    .col-md-1.profile-image.hidden-xs
      a(href=message.original.from.profile)
        img(src=message.original.from.avatar)
    .col-md-11
      .comment-wrapper
        .comment-header
          = (message.original.from.name || message.original.from.email.replace(/@/g, ' at ')) + ' (' + message.original.date.toISOString() + ')'
          ul.buttons
            li
              a.link(href=message.original.url)
                i.icon-share-alt
                span.hidden-xs  Go to Source
        .comment-body
          .source-view
            pre= message.original.original
  for edit in message.edits
    .row
      .col-md-1.profile-image.hidden-xs
        a(href=edit.from.profile)
          img(src=edit.from.avatar)
      .col-md-11
        .comment-wrapper
          .comment-header
            = edit.from.email.replace(/@/g, ' at ') + ' (' + edit.date.toISOString() + ')'
          .comment-body
            .source-view
              pre= edit.content
  .row
    .col-md-offset-1.col-md-11
      a.btn.btn-default.btn-block(href='/edit/' + encodeURIComponent(message.original._id), style='margin-bottom: 3em') Edit
