extends layout

block content
  .row
     .span12
       .page-header
         h1
           a(href="/") ES Discuss
           | &nbsp;/
           small Page #{id}
   for topic in topics
     .row
       .span12.topic-title
         a(href='/topic/' + topic._id)
           .well.well-small
             //span.badge.badge-info= topic.count
             span.badge(style='float:right;')= topic.count
             h4= topic.subject
             p by #{topic.first.name || topic.first.email.replace(/@/g, ' at ')} #{topic.start.fromNow()}
               if topic.end.fromNow() != topic.start.fromNow()
                 |  updated on #{topic.end.fromNow()}
   .row
     .span12
       - var first = id === 1;
       ul.pager
         if first
           li.previous.disabled
             a(disabled) &larr; Newer
         else
           li.previous
             a(href='/' + (id - 1)) &larr; Newer
         if last
           li.next.disabled
             a(disabled) Older &rarr;
         else
           li.next
             a(href='/' + (id + 1)) Older &rarr;
