extends layout

block navsections
  li.active
    a(href='/1') Topics
  li
    a(href='/notes') Notes

mixin pagination(id)
  ul
    - var first = id === 1;
    if first
      li.disabled
        a(disabled) « Newer
    else
      li
        a(href='/' + (id - 1)) « Newer
    li
      a(href='javascript:void') Page #{id}
    if last
      li.disabled
        a(disabled) Older »
    else
      li
        a(href='/' + (id + 1)) Older »

block navigation
  .pagination.pull-right.hidden-phone
    mixin pagination(id)


block content
  .row
    .span12
      ul.topics
        for topic in topics
          li.topic-title

              //span.badge.badge-info= topic.count
              span.badge(style='float:right;')= topic.count
              h4
                i.icon-comments-alt
                |  &nbsp;
                a(href='/topic/' + topic._id)= topic.subject
              p
                | created by
                b  #{topic.first.name || topic.first.email.replace(/@/g, ' at ')}
                |  #{topic.start.fromNow()}
                if topic.end.fromNow() != topic.start.fromNow()
                  |  (updated #{topic.end.fromNow()})

  .pagination.center
    mixin pagination(id)
