extends layout

block title
  title JacksonScript.org - Discussion

block navsections
  li.active
    a(href='/1') Discussion
  li
    a(href='/notes') Meetings
  li
    a(href='/about') About

block scripts
  script(src=asset('/client/listing.js'))

mixin pagination(id)
  ul.pagination
    - var first = id === 1;
    if first
      li.disabled
        a(disabled) « Newer
    else
      li
        a(href='/' + (id - 1), rel='previous') « Newer
    li
      a(href=path) Page #{id}
    if last
      li.disabled
        a(disabled) Older »
    else
      li
        a(href='/' + (id + 1), rel='next') Older »

block navigation
  .pull-right.hidden-xs
    mixin pagination(id)


block content
  .row
    .col-md-12
      ul.topics
        for topic in topics
          li.topic-title
              h4
                i.icon-envelope
                |  &nbsp;
                a(href='/topic/' + topic._id)= topic.subject
              p
                | created by
                b  #{topic.first.name || topic.first.email.replace(/@/g, ' at ')}
                |  #{topic.start.fromNow()}
                if topic.end.fromNow() != topic.start.fromNow()
                  |  (updated #{topic.end.fromNow()})
                span.message-count
                  a(href='/topic/' + topic._id)
                    i.icon-comments-alt
                    |  #{topic.messages} messages


  .center
    mixin pagination(id)
