extends layout

block head
  link(href='https://yandex.st/highlightjs/7.3/styles/default.min.css', rel='stylesheet')

block scripts
  script(src='/client.js')

block navigation
  ul.nav.pull-right
    li.disabled
      a(href='javascript:void') #{topic.subject}

block content
  - var mid = 0
  for message in messages
    .row(data-message=message._id, id='content-' + mid)
      .span1.profile-image
        a(href=message.from.profile)
          img(src=message.from.avatar)
      .span11
        .comment
          .comment-header
            a(href='#content-' + mid) #
            |  #{message.from.name || message.from.email.replace(/@/g, ' at ')}
            ul.buttons
              li
                a.showOriginal(href='javascript:void') view original
              li
                a(href='/source/' + message.date.toISOString()) go to source
          .comment-body
            script(type="test/formatted")= message.edited
            .source-view
              pre= message.original
              a.btn(target='_blank', href='https://github.com/esdiscuss/' + message.month + '/edit/master/' + message.id + '/edited.md') edit
    - mid++


