extends layout

block title
  title= topic.subject

block scripts
  script(src=asset('/client/topic.js'))

block navsections
  li.active
    a(href='/1') Discussion
  li
    a(href='/notes') Meetings
  li
    a(href='/about') About

block navigation
  ul.nav.pull-right
    li.text #{topic.subject}

block content
  .row
    .col-md-12
      h1.topic-title= topic.subject
  - var mid = 0
  for message in messages
    .row(data-message=message._id, id='content-' + mid)
      .hidden-xs.col-sm-1.col-md-1.profile-image
        a(href=message.from.profile)
          img(src=message.from.avatar)
      .col-xs-12.col-sm-11.col-md-11
        .comment-wrapper
          .comment-header
            a(href='#content-' + mid) #
            |  #{message.from.name || message.from.email.replace(/@/g, ' at ')} (#{message.date.fromNow()})
            ul.buttons
              if (message.updated)
                li
                  a.link(href='/history/' + encodeURIComponent(message._id) + '?path=' + encodeURIComponent(path))
                    i.icon-time
                    span.hidden-xs  History
              li
                a.link(href=message.reply)
                  i.icon-reply-all
                  span.hidden-xs  Reply
              li
                button.showOriginal.link
                  i.icon-envelope-alt
                  span.hidden-xs  View Original
              li
                a.link(href=message.url)
                  i.icon-share-alt
                  span.hidden-xs  Go to Source
              li
                a.link(href='/edit/' + encodeURIComponent(message._id) + '?path=' + encodeURIComponent(path + '#content-' + mid))
                  i.icon-pencil
                  span.hidden-xs  Edit
          .comment-body
            .formatted-view
              != message.edited
            .source-view(style='display: none;')
              pre= message.original
    - mid++
