!!! 5
html
  head
    meta(charset='utf-8')
    title ES Discuss
    link(href='https://yandex.st/highlightjs/7.3/styles/default.min.css', rel='stylesheet')
    link(href='https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css', rel='stylesheet')
    style
      header {
        height: 30px;
        margin-top: 10px;
      }
      header h3 {
        line-height:20px;
        display:inline-block;
      }
      header a {
        color:gray;
      }
      .content {
        padding: 10px 15px;
      }
      .content p {
        font-size: 15px;
      }
      blockquote {
        font-style: italic;
      }

  body
    .container
      .row
        .span12
          .page-header
            h1
              a(href="/") ES Discuss
              |  / 
              small #{topic.subject}
      - var mid = 0
      for message in messages
        .row(data-message=message._id, id='content-' + mid)
          .span1
            img
          .span11
            header.well.well-small
              h3
                a(href='#content-' + mid) #
                | #{message.from.name || message.from.email.replace(/@/g, ' at ')}
              .pull-right.btn-group
                button.btn(data-action='show-original', data-id=mid) view original
                a.btn.btn-inverse(href='/source/' + message.date.toISOString()) go to source
            .content
              script(type="test/formatted")= message.edited
              .source-view
                pre= message.original
                a.btn(target='_blank', href='https://github.com/esdiscuss/' + message.month + '/edit/master/' + message.id + '/edited.md') edit
        - mid++
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
    script(src='/client.js')